files/node-red_flows.json
[{"id":"428692e7.809954","type":"mqtt out","z":"ba710f53.674cf8","name":"Read Sensor","topic":"environment/pws-b5f0/poll","qos":"0","retain":"false","broker":"6b290748.3287d8","x":330,"y":100,"wires":[]},{"id":"4837b35c.06abcc","type":"inject","z":"ba710f53.674cf8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"60","payloadType":"str","x":160,"y":100,"wires":[["428692e7.809954"]]},{"id":"f82888de.4864f8","type":"mqtt in","z":"ba710f53.674cf8","name":"environment/pws-b5f0","topic":"environment/pws-b5f0/json","qos":"0","datatype":"auto","broker":"6b290748.3287d8","x":600,"y":100,"wires":[["e8f77107.7f73a8","a5ccdc4.88839a"]]},{"id":"e8f77107.7f73a8","type":"debug","z":"ba710f53.674cf8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":200,"wires":[]},{"id":"4b927c13.cc9b7c","type":"influxdb out","z":"ba710f53.674cf8","influxdb":"a7a12cf9.899af","name":"","measurement":"pws-b5f0","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"home","bucket":"environment","x":1030,"y":100,"wires":[]},{"id":"a5ccdc4.88839a","type":"json","z":"ba710f53.674cf8","name":"","property":"payload","action":"","pretty":false,"x":830,"y":100,"wires":[["4b927c13.cc9b7c"]]},{"id":"442641c.f71744","type":"mqtt in","z":"ba710f53.674cf8","name":"environment/pws-6d74","topic":"environment/pws-6d74/json","qos":"0","datatype":"auto","broker":"6b290748.3287d8","x":600,"y":300,"wires":[["850f1eec.75841","6873b68c.8f9278"]]},{"id":"850f1eec.75841","type":"debug","z":"ba710f53.674cf8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":400,"wires":[]},{"id":"69a192e6.c1ff44","type":"influxdb out","z":"ba710f53.674cf8","influxdb":"a7a12cf9.899af","name":"","measurement":"pws-6d74","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"home","bucket":"environment","x":1030,"y":300,"wires":[]},{"id":"6873b68c.8f9278","type":"json","z":"ba710f53.674cf8","name":"","property":"payload","action":"","pretty":false,"x":830,"y":300,"wires":[["69a192e6.c1ff44"]]},{"id":"e789aaad.8d04f","type":"mqtt out","z":"ba710f53.674cf8","name":"Read Sensor","topic":"environment/pws-6d74/poll","qos":"0","retain":"false","broker":"6b290748.3287d8","x":330,"y":300,"wires":[]},{"id":"8564a2bc.079568","type":"inject","z":"ba710f53.674cf8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"60","payloadType":"str","x":160,"y":300,"wires":[["e789aaad.8d04f"]]},{"id":"6b290748.3287d8","type":"mqtt-broker","name":"MQTT","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a7a12cf9.899af","type":"influxdb","hostname":"10.0.3.3","port":"8086","protocol":"http","database":"home","name":"InfluxDB","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://influxdb:8086","rejectUnauthorized":false}]